<app-add-task (onAddTask)="addTask($event)"></app-add-task>
<!-- since we can't directly pass the task here as we are not looping through them with ngFor, 
    we have used $event to pass the data.
 -->
 
<app-task-item 
*ngFor="let count of tasks" 
[task] = "count"
(onDeleteTaskEvent) = "delTask(count)"
(onToggleReminder) = "toggleTask(count)">
</app-task-item>
<!-- here task is a property defined in task-item component. we are passing the data stored in 
    count (all task objects) to task item component because we need 
    a. more modularity component wise
    b. task item will reflect all the tasks separately
    we will now design task item template to reflect the data of every individual task
-->