<form>
    <div class="form-control">
        <label for="text">Add Task</label>
        <input type="text" name="text" id="text" placeholder="Eg : Maths homework">
    </div>
    <div class="form-control">
        <label for="day">Day and Time</label>
        <input type="text" name="day" id="day" placeholder="Eg : Jan 12 2023 10:00 am">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label>
        <input type="checkbox" name="reminder" id="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block add-form">
</form>